@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3900bf;
  border: 3px solid #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/* text selection style */
::selection {
  color: #fff;
  background: #3900bf;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #3900bf;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dojo-title {
  color: #3900bf;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

.new-blog-btn {
  padding: 8px 12px;
  border: 1px solid #3900bf;
  border-radius: 5px;
  background: #fff;
  color: #3900bf;
}

.new-blog-btn:hover {
  background: #3900bf;
  color: #fff;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #3900bf;
}

.blog-list > h2 {
  padding: 0px 12px;
  font-size: 1.5rem;
  font-weight: 700;
}

.blog-preview {
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.blog-preview:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.article-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.article-box > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3900bf;
}

.writer-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writer-delete p {
  font-size: 1rem;
  font-weight: 500;
  color: #3900bf;
}

.writer-delete button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #3900bf;
  border-radius: 5px;
  background: #fff;
  color: #3900bf;
  cursor: pointer;
  text-transform: capitalize;
}

.writer-delete button:hover {
  background: #3900bf;
  color: #fff;
}

.article-box > div {
  color: #000000cc;
}

.new-blog form {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.new-blog form > input,
.new-blog form > textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #3900bf;
  border-radius: 5px;
  background: #f5f5f5;
  color: #3900bf;
  outline: none;
}

.new-blog form > textarea {
  height: 200px;
  resize: none;
}

.new-blog form > button {
  padding: 8px 12px;
  border: 1px solid #3900bf;
  border-radius: 5px;
  background: #fff;
  color: #3900bf;
  cursor: pointer;
}

.new-blog form > button:hover {
  background: #3900bf;
  color: #fff;
}

.alert-message {
  width: 100%;
  text-align: center;
  color: #3900bf;
}

.not-found {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.not-found > h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #3900bf;
}